{% extends 'base.html.twig' %}

{% block title %}O hríbikoch{% endblock %}

{% block body %}
    <div class="container mt-3 col-md-6 offset-md-3">
        <h2>Čo sú to hríbiky?</h2>
        <p class="text-justify">Hríbiky je slangový názov pre turistické rozcestníky. Teda aspoň ja ho tak používam odkedy po kopcoch a lesoch chodím.
        Vždy na mojich cestách predstavovali mikromíľniky ktoré som prekonával, odrátaval ostávajúci čas a špekuloval, kade by sa ako dalo dostať.
        Občas predstavovali pokušenie vydať sa inakadiaľ ako pôvodne zamýšľanou trasou, preskúmať cesty, ktoré som ešte neprešiel alebo len dali dané miesto do iného kontextu.
        Čo bolo preniekoho len ďalšia zastávka, bol pre iného putujúceho cieľom.</p>
        <h2>Technické informácie</h2>
        <p>Symfony 7, Bootstrap 5, jQuery :-)</p>
    </div>
{% endblock %}
