{% extends 'base.html.twig' %}

{% block title %}{{ 'contact'|trans }}{% endblock %}

{% block body %}
    <div class="container mt-3 col-md-6 offset-md-3">
        <h2>{{ 'contact_email'|trans }}</h2>
    </div>
{% endblock %}
