{% extends 'base.html.twig' %}

{% block title %}O mne{% endblock %}

{% block body %}
    <div class="container mt-3 col-md-6 offset-md-3">
        <h2>Kto som?</h2>
        <p class="text-justify">Programátor, turista, pesničkár, príležitostný standup komik.</p>
        <p>petiar@gmail.com</p>
    </div>
{% endblock %}
