{% extends 'emails/base.html.twig' %}

{% block header %}Hríbik na schválenie{% endblock %}

{% block body %}
<p>Niekto pridal nový hríbik na schválenie!</p>
<ul>
    <li>Názov: {{ rozcestnik.title }}</li>
    <li>Popis: {{ rozcestnik.description }}</li>
</ul>

<p>Tu pozri: {{ url('admin_rozcestnik_index') }}</p>
{% endblock %}
