{% extends 'emails/base.html.twig' %}

{% block header %}Ďakujem!{% endblock %}

{% block body %}
<p>Ahoj {{ rozcestnik.name }},</p>
<p>ďakujem, že si pri svojej prechádzke myslel aj na hríbiky a obetoval trochu percent baterky v tvojom mobilnom telefóne
a daroval nám nový úlovok. Pozriem na to a keď bude všetko ok tak sa už onedlho pridá medzi svojich kamarátov.</p>
<p><strong>Toto je zároveň posledný automatický mail, ktorý odomňa dostaneš. Nemám newsletter ani žiadne marketingové kampane.</strong>
Samozrejme, ak ťa bude čokoľvek ohľadne tohto webu zaujímať napíš a rád ti odpoviem.</p>
<p>Tvoje Hríbiky.sk</p>
{% endblock %}
