{% block subject %}
Poďakovanie za hríbik
{% endblock %}
<p>Ahoj {{ rozcestnik.name }},</p>
<p>ďakujeme, že si pri svojej prechádzke myslel aj na nás a obetoval trochu percent baterky v tvojom mobilnom telefóne
a daroval nám nový hríbik. Pozrieme na to a keď bude všetko ok tak sa už onedlho pridá medzi svojich ostatných kamarátov.</p>
<p><strong>Toto je zároveň posledný automatický mail, ktorý od nás dostaneš. Nemáme ani newsletter ani žiadne marketingové kampane.</strong>
Samozrejme, ak ťa bude čokoľvek ohľadne tohto webu zaujímať napíš a potom ti odpovieme.</p>
<p>Tvoje Hríbiky.sk</p>
