{% extends 'emails/base.html.twig' %}

{% block header %}{{ 'thank_you'|trans }}!{% endblock %}

{% block body %}
<p>{{ 'hello'|trans }} {{ rozcestnik.name }},</p>
<p></p>
<p>Tvoje Hríbiky.sk</p>
{% endblock %}
