{% extends 'base.html.twig' %}

{% block title %}Generovanie API kľúča{% endblock %}

{% block body %}
    <div class="container mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6">

                <div class="card shadow-sm">
                    <div class="card-body">
                        <h3 class="card-title mb-4 text-center">Generovanie API kľúča</h3>
                        <p>Máme aj API. Pomocou jednoduchých API volaní je možné získať dáta z tejto webstránky vo formáte JSON. Zatiaľ bez obrázkov, ale postupne pridám aj to.</p>
                        <pre>/api/mushrooms/</pre>
                        <pre>/api/mushrooms/{:id}</pre>
                        <p>Oba sú to GET requesty, pričom v hlavičke musia mať API kľúč v Api-Key.</p>
                        {% if error %}
                            <div class="alert alert-danger">{{ error }}</div>
                        {% endif %}

                        {% if apiKey %}
                            <div class="alert alert-success">
                                Váš API kľúč bol vygenerovaný:
                                <strong>{{ apiKey.keyValue }}</strong>
                            </div>
                            <p>Platnosť kľúča je do {{ apiKey.validUntil|date('d.m.Y H:i') }}</p>
                        {% endif %}

                        <form method="post">
                            <div class="mb-3">
                                <label for="email" class="form-label">E-mail</label>
                                <input type="email" class="form-control" id="email" name="email" placeholder="Zadajte svoj e-mail" required>
                            </div>
                            <button type="submit" class="btn btn-primary w-100">Vygenerovať kľúč</button>
                        </form>

                    </div>
                </div>

            </div>
        </div>
    </div>
{% endblock %}
